body, html{
    font-family: verdana;
    transition: background-color .5s;
    height: 100%;
    background-color: #fad6a5;
}

/* The side navigation menu*/
.sidenav {
    height: 100%;
    /*100% full-height*/
    width: 0;
    /*0 width to be changed with JavaScript*/
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: #4d4336;
    overflow-x: hidden;
    /* disable horizontal scroll */
    padding-top: 60px;
    /* place content 60px from the top */
    transition: 0.25s;
    /* 0.25s transition effect to slide in the sidenav */
}

/* Navigaiton menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ceac7d;
    display: block;
    transition: 0.2x;
}

/* color change upon mouse hover over links*/
.sidenav a:hover {
    color: #f1f1f1;
}

/* position and style close button*/
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* style page content if you want to push page content to right when opening side navigation*/
#main {
    transition: margin-left .25s;
    padding: 0px;
    margin-left: 0px;
}

/* where height <450px, change style of the sidenav (less padding and a smaller font size)*/
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

h1 {
    margin-right: 50px;
    font-size: 50px;
    text-align: center;
}

span {
    cursor: pointer;
}

#menu {
    position: absolute;
    top: 0;
    padding: 0px 0px 0px 32px;
    font-size: 25px;
    color: #ceac7d;
    display: block;
    transition: 0.2s;
}

#heading1
{
  margin-top: 0;
}

#hamburgerMenu {
    font-size: 30px;
}

#insidePE2div1
{
  position: absolute;
}

#insidePE2div2
{
  width: 100%; /* This div takes up 100% of parent div's width*/
}

.insideHeader
{
  display: inline-block;
}

#home_h1 {
    color: black;
    text-decoration: none;
}

.slideshow-container
{
  max-width: 100%;
  position: relative;
}
.mySlides 
{
  display: none;
  width: 100%;
  margin: auto;
}

.responsive
{
  /*Center images*/
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* Make image responsive*/
  max-width: 100%;
  height: auto;
}

.portrait
{
  margin-top: 80px;
  margin-bottom: 0px;
  transform:rotate(90deg);
  height: auto;
  width: 600px;
}

.landscape
{
  height: 600px;
  width: 1000px;
}

/*
* {box-sizing:border-box}
/*Hide images by default*
.mySlides
{
  display: none;
}
img {vertical-align: middle;}
/*Slideshow container


/*Next & previous buttons on home slideshow*
.prev, .next
{
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -25px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
  -moz-user-select: none;
}

/*Position 'next' button to the right*
.next
{
  right: 0;
  border-radius: 3px 0 0 3px;
}

/*On hover, add black background color with a little see through*
.prev:hover, .next:hover
{
  background-color: rgba(0,0,0,0.8);
}

/* Overlay effect on top of container but bottom of image *
.overlay
{
  position: absolute;
  bottom: 0;
  background: rgb(0,0,0);
  background: rgba(0,0,0,0.5);
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity: 0;
  color: white;
  font-size: 20px;
  text-align: center;
}

/* Upon mouse over slideshow container on main page, fade in overlay title
*
.slideshow-container:hover .overlay
{
  opacity: 1;
}

/* Slideshow dots/bullets/indicators *
.dot
{
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, dot:hover
{
  background-color: #717171;
}

/* Fading animation *
.fade
{
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

/* Decrease text size on smaller screens *
@media only screen and (max-width: 300px)
{
  .prev, .next {font-size: 11px}
}
*/
#serv_h1 {
    color: black;
    text-decoration: none;
}

#serv_h1 visited {
    color: black;
    text-decoration: none;
}

/* Add black background color to Testimonials page topnav*/
.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style links inside Testimonials page topnav*/
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
}

/* Change color of links on hover*/
.topnav a:hover {
    background-color: #b5dcf0;
    color: black;
}

/* Add an active class to highlight current page*/
.topnav a.active {
    background-color: #b5dcf0;
    color: white;
}

/* Hide link that opens and closes topnav on small screens*/
.topnav .icon {
    display: none;
}

/* When screen is less than 600px wide, hide all links except for the first
   show link containing should open and close topnav (.icon)*/
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float:right;
      display: block;
    }
}

/* "responsive" class is added to topnav with JS when user clicks on icon.
   makes topnav look good on small screeens (links are displayed vertically
   instead of horizontally*/
@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
}

/*Contact Page style*/
#ContactUsh2
{
  text-align: center;
}
/*Style text inputs, select elements and textareas*/
input[type=text], select, textarea
{
  width: auto;
  padding: 12px;
  border: 1px solid #ccc;  /*gray borders*/
  border-radius: 4px;  /* rounded borders*/
  box-sizing: border-box; /* make sure padding and width stays in place*/
  margin-top: 6px;  /*add top margin*/
  margin-bottom: 16px;
  resize: vertical;  /*allow user to vertically resize textarea*/
}

.container
{
  display: block;
  border-radius: 5px;
  background-color: #e6d3bb;
  padding: 20px;
}